:root {
    --bs-secondary-rgb: rgb(233, 233, 233);
    --bs-bg-opacity: 1.0;
    --bs-body-bg: rgb(238, 246, 254);
}


@media (prefers-color-scheme: dark) {

    body {
        background-color: rgb(2, 44, 87);
        color: rgb(238, 246, 254);
    }

    .card {
        background-color: rgb(33, 72, 112);
    }

    .navbar, .bg-body {
        background-color: rgb(33, 72, 112) !important;
    }

    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
        color: rgb(238, 246, 254);
    }
}

.logo {
    border-radius: 20%;
}

:target {
    scroll-margin-top: 80px;
}

blockquote {
    margin: 20px 10px;
    padding: 0 20px;
    border-inline-start: 3px solid lightgray;
    color: gray;
}

pre.highlight {
    margin: 10px 10px 30px;
    padding: 15px;
    background-color: ivory;
}