<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-body border-bottom">
    <div class="container-lg">
        <a class="navbar-brand" href="{{ site.url }}">
            <img src="{{ "/logo.png" | relative_url }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            {{ site.name }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item me-2">
                    <a class="nav-link {% if page.menu == "home" %} active {% endif %}" aria-current="page" href="/">{{ site.menu["home"][site.active_lang] }}</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link {% if page.menu == "architecture" %} active {% endif %}" href="/architecture/">{{ site.menu["architecture"][site.active_lang] }}</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link {% if page.menu == "spec" %} active {% endif %}" href="/spec/">{{ site.menu["spec"][site.active_lang] }}</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link {% if page.menu == "faq" %} active {% endif %}" href="/faq/">{{ site.menu["faq"][site.active_lang] }}</a>
                </li>
                <li class="nav-item me-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="iconify-inline" data-icon="ic:outline-apps"></span> {{ site.menu["software"][site.active_lang] }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <li><a class="dropdown-item" href="https://github.com/passulo/PassCreator">PassCreator</a></li>
                        <li><a class="dropdown-item" href="https://github.com/passulo/Passulo-Server">Server</a></li>
                        <li><a class="dropdown-item" href="https://github.com/passulo/Token">Token</a></li>
                        <li><a class="dropdown-item" href="https://github.com/passulo/Passulo-iOS">iOS App</a></li>
                    </ul>
                </li>
                <li class="nav-item me-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-globe"></i> {{ site.menu["language"][site.active_lang] }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" {% static_href %}href="{{site.baseurl}}{{page.url}}"{% endstatic_href %}>Deutsch</a></li>
                        <li><a class="dropdown-item" {% static_href %}href="{{site.baseurl}}/en{{page.url}}"{% endstatic_href %}>English</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>