:root {
    --bs-secondary-rgb: rgb(233, 233, 233);
    --bs-bg-opacity: 1.0;
    --bs-body-bg: rgb(238, 246, 254);
}

pre.highlight {
    margin: 10px 10px 30px;
    padding: 15px;
    background-color: ivory;
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: rgb(2, 44, 87);
        color: rgb(185, 194, 203);
    }

    .card {
        background-color: rgb(33, 72, 112);
    }

    .navbar, .bg-body {
        background-color: rgb(33, 72, 112) !important;
    }

    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
        color: rgb(238, 246, 254);
    }

    pre.highlight {
        background-color: rgb(33, 72, 112);
    }
}

.logo {
    border-radius: 20%;
}

:target {
    scroll-margin-top: 80px;
}

blockquote {
    margin: 20px 10px;
    padding: 0 20px;
    border-inline-start: 3px solid lightgray;
    color: gray;
}



/* Image slideshow from https://www.devtwins.com/blog/css-cross-fading-images */
.screenshot {
    position: relative;
    display: block;
    width: 100%;
    max-width: 300px;
    height: 605px;
    margin: 0 auto;
}

.pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 24s infinite;
    animation: fade 24s infinite;
}

#pic1 {
    animation-delay: 0s;
    background-image: url('/images/pass_plain.png');
}

#pic2 {
    background-image: url('/images/pass_thumb.png');
    animation-delay: 8s;
}

#pic3 {
    background-image: url('/images/pass_strip.png');
    animation-delay: 16s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    29% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    96% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    29% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    96% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}